/* general styles for header component */

.Header {
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
}

/* blue top bar */

.blueBar {
    color: #ffffff;
    background-color: #017dc5; /* ripped from image */
    display: flex;
    flex-direction: row;
    padding: 0.25rem 8rem; 
    justify-content: space-between;
}

/* white nav bar with logo */

.whiteBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 6rem;
    background-color: #ffffff;
}

img {
    padding: 0.8rem 0 0.8rem 8rem;
}

/* nav bar styles */

a {
    color: #303030;
    text-decoration: none;
    padding: 0.8rem 2rem;
    font-size: 1.25rem;
}

a:hover {
    background-color: #017dc5;
    color: #ffffff;
  }

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

/* mobile phone and tablet */

@media only screen and (max-width: 768px) {
    .blueBar {
        flex-direction: column;
    }
    .whiteBar {
        flex-direction: column;
    }
    .links {
        width: 100%;
    }
}